h1 {
    font-size: 2em;
}
p {
    font-size: 3em;
}
.image {
    width: 275px;
    padding: 15px;
    margin-right: 15px;
    background-color: grey;
    float: right;
}
.first {
background-color: blue;
text-align: center;
}
.section {
margin: 50px;
background-color: gray;
border: 2px black;
border-style: solid;
color: purple;
border-radius: 30px;

}


.orange {
    color: orange;
}