@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #ffa2ca;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'roboto';
    margin-bottom: 5%;
}
.serif {
    font-family: 'Times New Roman', Times, serif;
}

.white {
    color: white;
}


body {
    text-align: center;
}

img {
    width: 150px;
}

#gospel-list {
    text-align: left;
    display: inline-block;
}

h1 {
    transition-duration: 0.4s;
}

h1:hover {
    color: black
}
footer {
    line-height: 10%;
}
#quote {
    font-size: xx-large;
    margin-left: 15%;
    margin-right: 15%;
}